/* Module Custom Styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.owcredits {
    width: 100%;
    text-align: right;
}

hr.thickhr {
    height: 3px;
    background-color: orange;
    border: none;
}

.currentConditions {
    font-family: 'Open Sans';
    font-size: 1.5em;
}


.messageError {
    border: 1px solid;
    margin: 10px 0px 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #00529B;
    background-color: #BDE5F8;
   
}

.divcentered {
    max-width: fit-content;
    margin-inline: auto;
}

.gibs-openweathermap {
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

    .gibs-openweathermap h3 {
        color: #0056b3;
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
        margin-top: 20px;
    }

    .gibs-openweathermap ul li {
        list-style: none;
        padding: 10px;
    }

    .gibs-openweathermap li:before {
        color: #e65100;
        content: "\27bd \0020";
        padding-right: 6px;
    }

    .gibs-openweathermap li {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        position: relative; /* For icon positioning */
    }

        .gibs-openweathermap li img {
            vertical-align: middle;
            margin-left: 10px;
        }

    .gibs-openweathermap .currentConditions {
        font-size: 1.2em;
        font-weight: bold;
        color: #3498db;
    }

    .gibs-openweathermap .thickhr {
        border: 0;
        height: 2px;
        background-color: orange;
        margin: 20px 0;
    }

    .gibs-openweathermap .alert-item {
        background-color: #ffe0b2; /* Light orange for alerts */
        border-color: #ff9800;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
    }

        .gibs-openweathermap .alert-item h4 {
            color: #e65100; /* Darker orange */
            margin-top: 0;
            margin-bottom: 5px;
        }

        .gibs-openweathermap .alert-item p {
            margin-bottom: 5px;
        }

    .gibs-openweathermap .chart-container {
        position: relative;
        height: 300px; /* Fixed height for chart */
        width: 100%;
        margin-top: 20px;
    }

    .gibs-openweathermap .weatherDate {
        font-size: 1.3em;
        font-weight: bold;
        color: #e65100; /* Darker orange */
    }